extends ../layout

block content
    .container(style="margin-top:5em")
        div(style="background-color:#f2f2f2;;display:flex;justify-content:center")
            img(src="../images/user.png",style="width:10em;height:10em")
        div(style="background-color:#f2f2f2;;display:flex;justify-content:center")
            p 用户名
        .container(style="margin-top:50px")
            .row
                p 登录密码
            .row
                p 绑定邮箱