extends ../layout
block content
	.container(style="margin-top:50px")
		.signin-content
			form.signin-form(method="POST",action="/admin/signin/")
				.modal-header 登录
				.modal-body#signin-input
						input.form-control(name="user[name]",type="text")
						input.form-control(name="user[password]",type="password")
						span 
							a 忘记密码?
				.modal-footer
					button.btn.btn-signin(type="submit") 登录
					.signin-text 没有丁丁账号?
						a(href="/signup") 立即注册